<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-container">
      <% if staff_signed_in? %>
        <nav class="sidebar">
          <div class="logo">
            <h2>Restaurant App</h2>
          </div>
          <ul class="nav-links">
            <li><%= link_to "Dashboard", root_path %></li>
            <li><%= link_to "Orders", orders_path %></li>
            <li><%= link_to "Reservations", reservations_path %></li>
            <li><%= link_to "Customers", customers_path %></li>
            <li><%= link_to "Import Customers", new_customer_path %></li>
            <li><%= button_to "Sign Out", destroy_staff_session_path, method: :delete %></li>
          </ul>
        </nav>
      <% end %>
      
      <div class="main-content">
        <% if notice %>
          <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger"><%= alert %></div>
        <% end %>
        
        <%= yield %>
      </div>
    </div>
  </body>
</html>